[Desktop Entry]
Type=Application
Exec=rum
Icon=rum
Terminal=false
Categories=Game;Application;
Name=Rum
Comment=GNU/LINUX GAMING UNLEASHED!
StartupNotify=true

